.anuncio{
    position: relative;
}

.anuncioi{
    background-image: url('../images/pidelo.jpg');
    width: 1519px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.empty{
    margin: 0 0 60px 0;
    font-size: 1.125rem;
    float: left;
    padding: 0px 20px;
}

.over{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.3);
}

.glovo{
    max-width:40%;
    margin: 1%;
    background:#fed346;
    padding:10px 15px;
    float: left;
    border-radius: 50px;
}

.imageGlovo{
    max-width:100%;
}

.uber{
    background:black;
    max-width: 30%;
    float: left;
    margin: -5px 1% 1% 1%;
    padding: 10px 15px;
}
.imageUber{
    max-width:100%;
}

.apps{
    max-width: 935px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 16.6px;
}

.deliver{
    float: left;
    max-width:25%;
}