.padre2{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display:flex;
    flex-direction: row;
    padding-top:100px;
    padding-bottom:100px;
    max-width: 75rem;
}

.izq{
    width:50%;
    max-width: 50%;
    margin: 0;
}

.image1{
    width: 500px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    background-image:url('../images/duo1.jpg');
    background-size: 500px 500px;
    background-repeat:no-repeat;
}

.der{
    width:50%;
    max-width: 50%;
    position: relative;
    margin: 0;
}

.image2{
    width:500px;
    height:500px;
    margin: auto;
    background-image:url('../images/duo2.jpg');
    background-repeat: no-repeat;
}

.block{
    background-color: white;
    padding: 30px 15px;
    font-size: 3.98rem;
}

.block2{
    background-color: white;
    padding: 30px 15px;
    font-size: 3.98rem;
}
