@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.body{
    width: 100%;

}

.header{
    width:100%;
    display: flex;
    justify-content: space-around;
    background-color: #003673;
    padding-top: 30px;
    padding-bottom: 30px;

    margin: auto;
}
.whatss{

    background-image: url('../images/whatss.png');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-color:#003673;
    background-size: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    background-position: center;
    border: 1px solid #4A90E2;
    margin-right: 10px;
}

.login{
    display: flex;
    line-height: 42px;
    background-color:#003673;
    border-radius: 3.125rem;
    color: white;
    border: 1px solid #4A90E2;
    padding: 0 30px;
    letter-spacing: 1px;
    justify-content:center;
    align-items:center;
    font-family:'Montserrat';
    margin: 0;


}

.group{
    display: flex;
    align-items: center;
}

.market{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    line-height: 42px;
    background-color:#003673;
    border-radius: 3.125rem;
    color: white;
    border: 1px solid #4A90E2;
    padding: 0 30px;
    letter-spacing: 1px;
    font-family:'Montserrat';
}

.group .market{
    height:auto;
}

.icon{
    text-align: center;
    content: url('../images/basket.png');
    width:20px;
    height:20px;
    padding-left: 2px;
    margin-right: 10px;
  }