@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.contenedor{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding:0;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    line-height: 1.5;
}

.texto{
    text-align:center;
    padding: 12px;
    font-family: 'Libre Baskerville';
    color: #003673;
    font-size: 1.875rem;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
}

.cards{
    width:100%;
    display:flex;
    margin-top: 40px;
    line-height: 1.5;
    justify-content:center;
}

.see{
    margin: auto;
    height:42px;
    margin-top: 20px;
    background:#003673;
    color:white;
    padding: 0 30px;
    border-radius: 3.125rem;
    line-height: 42px;
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: bold;
    border-style: none;
    transition: 0.3s;
}

.see:hover{
    background-color: #4A90E2;
    transition: 0.3s;
}