@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.texto{
    text-align:center;
    margin-top:40px;
    padding: 40px;
    font-family: 'Libre Baskerville';
    color: #003673;
}