.icons{

    margin: 0;
    padding: 0;
    padding-top:30px;
    width:100%;
    height:auto;


}
.li{
    margin: 0;
    padding: 0;

    line-height: 1.6;
    text-align:center;
    width:35px;
}
.iconlist{
    display: flex;
    justify-content:center;
    margin: 0 15px;
    line-height:1.6;
    padding: 0;
    height:35px;
}

.facebook{
    width:100%;
    height: 100%;
    margin: 0 15px;
    background-image: url('../images/facebook5.png');
    background-size: 100% 100%;
    background-color: transparent;
    border: none;

}

.twitter{
    width:100%;
    height: 100%;
    margin: 0 15px;
    background-image: url('../images/twitter3.png');
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
}
.instagram{
    width:100%;
    height: 100%;
    margin: 0 15px;
    background-image: url('../images/instagram4.png');
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
}

.f{
    padding-right: 15px;
}

.t{
    padding-left: 15px;
    padding-right: 15px;
}

.i{
    padding-left: 15px;
    padding-right: 15px;
}

